.heading_line_topbar {
    max-width: 140px;
    min-height: 5px;
    color: #0e1c20;
    background-color: #f7b058;
    border-radius: 99px;
    margin-top: 124px;
}
.hero_section{
    
    height:650px;    
    opacity: 0.9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center
}
.hero_para_text{
    font-size: 24px;
    /* color: #F08200; */
    color: aliceblue;
    padding: 10px 15px;
    text-align:justify;
    line-height: 1.583em;
    background-color: #3b3b3a;
    border-radius: 3px;
    margin:5px 40px 30px 0px;
}
.btn_about_charity{
    color: #090909;
    text-align: center;
    transform-style: preserve-3d;
    background-color: #fff;
    border-radius: 10px;
    justify-content: center;
    padding: 26px 38px;
    font-size: 19px;
    font-weight: 700;
    line-height: 1.111em;
    text-decoration: none;
    border: none;
    margin-left: 21px;
    transition: background-color .3s, transform .3s, color .3s;
}
.btn_about_charity:hover{
    color: #fff;
    background-color: #090909;
    transform: translate(0px,-5px);
}
/* our_project */
.our_project{
    background-color: #FEF9F2;
    padding: 80px 0px;
}

.project_area{
    margin-bottom: 45px;
}
.projct_text_area{
    padding-left: 30px;
    padding-right: 200px;
}
.project_subtitle {
    color: #f7b058; 
    text-align: center;   
    letter-spacing: .06em;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 16px;
    padding-left: 90px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1em;
}
.project_para_text{
    color: #090909;
    font-size: 20px;
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-left: 20px;
    font-family: Nunito, sans-serif;
    font-size: 22px;
    /* display: inline-block; */
    font-weight: 700;
}
.project_btn{
    margin-top: 40px;
}

/* who we are  */
.home_about_btn{
    text-align: end;
}
.home_we_are_image{
    opacity: 1;
    margin-top: 15px;
}
.Support_Comunity{
    padding-top: 70px;
}
.Comunity_description{
    margin-left: 25px;
}

@media only screen and (max-width: 600px) {

    .hero_section{
       height:900px;    
    }
    .btn_about_charity{
        margin-top: 15px;
    }
    .projct_text_area {
        padding-left: 0px;
        padding-right: 0px;
    }
    h1{
        
        font-size: 49px;
        font-weight: 800;
        color: white;
        
    }

}

@media only screen and (min-width: 992px){
    .hero_section{
        height:800px;    
     }    
       
}
@media only screen and (min-width: 1200px) {
    .hero_section{
        height:650px;    
     }


}




