.blog{
    background-color: #FEF9F2;
    padding: 80px 0px;
}


.btn_blog_catagory{
    color: #090909;
    text-align: center;
    transform-style: preserve-3d;
    background-color: #fff;
    border-radius: 10px;
    justify-content: center;
    padding: 26px 38px;
    font-size: 19px;
    font-weight: 700;
    line-height: 1.111em;
    text-decoration: none;
    border: 1px solid #f0ece8;
    margin-left: 21px;
    transition: background-color .3s, transform .3s, color .3s;
}
.btn_blog_catagory:hover{
    color: #fff;
    background-color: #090909;
    transform: translate(0px,-5px);
}
.blog_catagoray{
    padding: 40px 0px;
}

